<form [formGroup]="formGroup" (submit)="save()">
  <div>
    <app-subject-select [formControl]="formControls.subjectId"></app-subject-select>
    <app-room-select [formControl]="formControls.roomId"></app-room-select>
    <mat-form-field>
      <mat-label>Név </mat-label>
      <input matInput [formControl]="formControls.name" placeholder="Írja be a nevet" />
    </mat-form-field>
  </div>
  <div>
    <button mat-button mat-dialog-close type="button">Mégse</button>
    <button mat-raised-button type="submit">Mentés</button>
  </div>
</form>
