<div class="login">
  <div>
    <h1>NeptunReloaded</h1>
  </div>
  <div>
    <form [formGroup]="formGroup" (submit)="login()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Bejelentkezés</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Felhasználónév</mat-label>
            <input matInput [formControl]="loginControls.username" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Jelszó</mat-label>
            <input matInput [formControl]="loginControls.password" />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" [routerLink]="'/register'" mat-button>Regisztráció</button>
          <button type="submit" mat-raised-button color="primary">
            {{ (isRequesting$ | async) ? '' : 'Bejelentkezés' }}
            <ng-container *ngIf="isRequesting$ | async">
              <mat-spinner [color]="'accent'" [diameter]="30"></mat-spinner
            ></ng-container>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
