/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  .app-bg {
    height: 100%;
  }
}
.pointer {
  cursor: pointer;
}
.success-snackbar {
  background-color: $secondary-fade;
}

.error-snackbar {
  background-color: $warn;
}
