<mat-drawer-container class="auth-drawer" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'">
    <mat-list>
      <mat-list-item><button [routerLink]="'/auth/subject'" mat-button>Tantárgy</button> </mat-list-item>
      <mat-list-item> <button [routerLink]="'/auth/exam'" mat-button>Vizsga</button> </mat-list-item>
      <mat-list-item> <button [routerLink]="'/auth/exam-result'" mat-button>Vizsgaeredmény</button> </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="auth">
      <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>NeptunReloaded</span>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          [routerLink]="'/auth/profil'"
          class="profil"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>person</mat-icon>
        </button>
      </mat-toolbar>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
