<mat-drawer-container class="auth-drawer" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'">
    <mat-list>
      <mat-list-item
        ><button (click)="drawer.close()" [routerLink]="'/auth/subject'" mat-button>Tantárgy</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button (click)="drawer.close()" [routerLink]="'/auth/exam'" mat-button>Vizsga</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button (click)="drawer.close()" [routerLink]="'/auth/course-result'" mat-button>Vizsgaeredmény</button>
      </mat-list-item>
      <ng-container *auth="'Student'">
        <mat-divider></mat-divider>
        <mat-list-item>
          <button (click)="drawer.close()" [routerLink]="'/auth/my-exams'" mat-button>Saját vizsgáim</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button (click)="drawer.close()" [routerLink]="'/auth/my-result'" mat-button>Saját eredményim</button>
        </mat-list-item>
      </ng-container>

      <ng-container *auth="'Teacher'">
        <mat-divider></mat-divider>
        <mat-list-item>
          <button (click)="drawer.close()" [routerLink]="'/auth/room'" mat-button>Termek</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button (click)="drawer.close()" [routerLink]="'/auth/course'" mat-button>Kurzusok</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button (click)="drawer.close()" [routerLink]="'/auth/users'" mat-button>Felhasználók</button>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="auth">
      <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>NeptunReloaded</span>
        <span class="example-spacer"></span>
        <span class="role">{{ (userType$ | async) === 'Student' ? 'Diák' : 'Tanár' }}</span>
        <button
          class="profil"
          mat-icon-button
          [routerLink]="'/auth/profil'"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>person</mat-icon>
        </button>
        <button (click)="logout()" mat-raised-button color="primary">Kijelentkezés</button>
      </mat-toolbar>
      <div>
        <h3>{{ title$ }}</h3>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
