<div class="register">
  <div>
    <h1>NeptunReloaded</h1>
  </div>
  <div>
    <form [formGroup]="formGroup" (submit)="registerUser()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Regisztráció</mat-card-title>
          <mat-card-subtitle>Diák</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Felhasználónév</mat-label>
            <input matInput [formControl]="registerForm.username" />
            <mat-hint>Minimum 6 karakter</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Keresztnév</mat-label>
            <input matInput [formControl]="registerForm.firstName" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Vezetéknév</mat-label>
            <input matInput [formControl]="registerForm.lastName" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Neptun</mat-label>
            <input matInput [formControl]="registerForm.neptun" />
            <mat-hint>Pontosan 6 karakter</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Jelszó</mat-label>
            <input matInput [formControl]="registerForm.password" />
            <mat-hint>Minimum 6 karakter</mat-hint>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" [routerLink]="'/login'" mat-button>Bejelentkezés</button>
          <button type="submit" mat-raised-button color="primary">
            {{ (isRequesting$ | async) ? '' : 'Regisztráció' }}
            <ng-container *ngIf="isRequesting$ | async">
              <mat-spinner [color]="'accent'" [diameter]="30"></mat-spinner
            ></ng-container>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
<div></div>
